#changelog-container {
    position: absolute;
    top: 0;
    left: 0;
}

#open-changelog {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    background-color: #222;
    color: #ccc;
    padding: 8px 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
}

#changelog {
    position: relative;
    width: 400px;
    margin: 50px 0 0 50px;
    padding-left: 10px;
    border: 2px solid #ccc;
    background-color: #222;
    color: #ccc;
    text-align: left;

    #clog-title {
        font-size: 28px;
        font-weight: bold;
        margin-top: 10px;
    }

    p {
        margin: 8px;
    }

    #close-button {
        position: absolute;
        top: 5px;
        right: 7px;
        user-select: none;
        transform: scaleX(1.2)    ;
        -webkit-transform: scaleX(1.2)    ;
        -moz-transform: scaleX(1.2)    ;
        -ms-transform: scaleX(1.2)    ;
        -o-transform: scaleX(1.2)    ;

        &:hover {
            cursor: pointer;
        }
    }
}